---
---

$text-color-dark: #000;
$text-color-light: #fff;
$gray-background: #e7e7e7;
$blue-background: #337ab7;

body {
    padding-top: 75px;
}

img {
    max-width: 100%
}

footer {
    text-align: right;
    margin-top: 70px;
}

i {
    vertical-align: middle;
}

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id] {
    padding-top: 60px;
    margin-top: -40px
}

.navbar-toggle {
    padding: 6px 8px;
}

.navbar-default {
    .navbar-brand, .navbar-nav li a {
        color: $text-color-dark !important;
    }
}

#summary {
    font-size: 120%;
    color: $text-color-dark;
    margin: 20px 0px 20px 0px;
    border-left: 5px solid #f00;
    padding-left: 10px;
    
    :before {
        content: "Summary: ";
        font-weight: bold;
    }
}

#markdown-toc {
    font-size: 120%;
    font-weight: bold;
    background-color: $gray-background;
    display: block;
    padding: 10px 40px;
    border-radius: 5px;
}

#nav-panel {
    .panel-heading {
        padding: 0px;
        
        a {
            color: $text-color-dark;
            display: block;
            padding: 10px 15px;
        }
    }
    
    .panel-heading.active {
        background-color: $blue-background;
        
        a {
            color: $text-color-light;
        }
    }
    
    .panel-body {
        padding: 0px;
        
        table {
            margin-bottom: 0px;
        }
        
        td {
            padding: 0px;
            
            a {
                color: $text-color-dark;
                display: block;
                padding: 8px 15px;
            }
        }
        
        td.active {
            background-color: $blue-background;
            
            a {
                color: $text-color-light;
            }
        }
    }
}
