/* general styles */

body {
    padding-top: 75px;
}

img {
    max-width: 100%
}

.footer {
    text-align: right;
}

.shaded {
    height: 12px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
    background: white;
    width: 100%;
    margin-bottom: 10px;
}


/* summary styles */

.summary {
    font-size: 120%;
    color: #808080;
    margin: 20px 0px 20px 0px;
    border-left: 5px solid #ED1951;
    padding-left: 10px;
}

.summary:before {
    content: "Summary: ";
    font-weight: bold;
}


/* table of contents styles */

#toc ul li ul li {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}

#toc ul li {
    margin: 8px 0px 8px 22px;
    font-size: 90%;
    list-style: square;
}

#toc ul {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    color: gray;
}

#toc ul li ul {
    padding-left: 8px;
}

#toc ul li ul li::before {
    content: "–  ";
}

#toc>ul::before {
    content: "Table of Contents";
    font-weight: 500;
    color: #555;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* make sidebar nav vertical */

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}

.sidebar-nav .navbar ul {
    margin: 0px 0px;
    float: none;
    display: block;
}

.sidebar-nav .navbar li {
    float: none;
    display: block;
}

.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0px;
}
