{% include custom/sidebarconfigs.html %}

<ul id="mysidebar" class="navgoco affix">
    {% for item in sidebar.items %}
        {% if item.external_url %}
        <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
        {% elsif page.url == item.url %}
        <li class="active"><a href="{{item.url | remove: '/'}}">{{item.title}}</a></li>
        {% elsif item.url %}
        <li><a href="{{item.url | remove: '/'}}">{{item.title}}</a></li>
        {% else %}
        <li>
        <a href="#">{{ item.title }}</a>
        <ul>
            {% for subitem in item.subitems %} 
            {% if subitem.external_url %}
            <li><a href="{{subitem.external_url}}" target="_blank">{{subitem.title}}</a></li>
            {% elsif page.url == subitem.url %}
            <li class="active"><a href="{{subitem.url | remove: '/'}}">{{subitem.title}}</a></li>
            {% else %}
            <li><a href="{{subitem.url | remove: '/'}}">{{subitem.title}}</a></li>
            {% endif %} 
            {% endfor %}
        </ul>
        </li>
        {% endif %} 
    {% endfor %}
</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>
    /*global $*/
    $("li.active").parents('li').toggleClass("active");
</script>
