{% for sidebar in site.data.sidebar.entries %}
{% if sidebar.name == page.sidebar %}
    {% for item in sidebar.items %}
        {% if item.url == page.url %}
            {% assign active_item = item %}
        {% endif %}
        {% for subitem in item.subitems %}
            {% if subitem.url == page.url %}
                {% assign active_item = item %}
                {% assign active_subitem = subitem %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div class="panel-group" id="accordion">
    {% for item in sidebar.items %}
        <div class="panel panel-default">
        {% if item.url %}
            <div class="panel-heading">
            <h4 class="panel-title">
            <a href="{{item.url | remove: '/'}}">{{item.title}}</a>
            </h4>
            </div>
            {% if item == active_item %}{% else %}{% endif %}
        {% else %}
            <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="{{ '#' | append: item.id }}">{{ item.title }}</a>
            </h4>
            </div>
            <div id="{{ item.id }}" class="panel-collapse collapse {% if item == active_item %}in{% endif %}">
            <div class="panel-body">
            <table class="table">
            {% for subitem in item.subitems %}
                <tr><td>
                {% if subitem == active_subitem %}{% else %}{% endif %}
                <a href="{{subitem.url | remove: '/'}}">{{subitem.title}}</a>
                </td></tr>
            {% endfor %}
            </table>
            </div>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endfor %}

