{% for sidebar in site.data.sidebar.entries %}
{% if sidebar.name == page.sidebar %}
    <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
    {% for item in sidebar.items %}
        {% if item.url == page.url %}
            {% assign active_item = item %}
        {% endif %}
        {% for subitem in item.subitems %}
            {% if subitem.url == page.url %}
                {% assign active_item = item %}
                {% assign active_subitem = subitem %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for item in sidebar.items %}
        {% if item.url %}
            {% if item == active_item %}<li class="active">{% else %}<li>{% endif %}
            <a href="{{item.url | remove: '/'}}">{{item.title}}</a>
            </li>
        {% else %}
            <li>
            <a href="#" data-toggle="collapse" data-target="{{ '#' | append: item.id }}">{{ item.title }}</a>
            {% if item == active_item %}<div class="collapse in" id="{{ item.id }}">{% else %}<div class="collapse" id="{{ item.id }}">{% endif %}
            <ul class="nav nav-list">
            {% for subitem in item.subitems %}
                {% if subitem == active_subitem %}<li class="active">{% else %}<li>{% endif %} 
                <a href="{{subitem.url | remove: '/'}}">{{subitem.title}}</a></li>
            {% endfor %}
            </ul>
            </div>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    </div>
{% endif %}
{% endfor %}

