<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <i class="material-icons md-18">menu</i>
            </button>
            <a class="navbar-brand" href="index.html"><i class="material-icons md-18">home</i> {{site.data.topnav.title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                {% for item in site.data.topnav.items %} 
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
                {% elsif page.folder == item.folder %}
                <li class="active"><a href="{{item.url | remove: '/'}}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | remove: '/'}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
